<body class="bg-light">
    
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4" src="../../favicon.ico" alt="" width="55" height="55">
          <h2>Calendar Form</h2>
          <p class="lead">Add your events below!</p>
        </div>
        <div class="d-flex justify-content-center">
          <div class=" col-6">           
            <form #registerForm="ngForm" class="needs-validation" (ngSubmit)="register()">
              <div class="row g-3">
                <div class="col-12">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="firstName"  required [(ngModel)]="model.title"  name="title" #firstName="ngModel">
                </div> 
                <div class="col-12">
                  <label for="lastName" class="form-label">Description</label>
                  <input type="text" class="form-control" id="description" placeholder="" value=""  name="description" [(ngModel)]="model.description">
                </div>
                <div class="col-12">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" class="form-control" id="location" placeholder="California" required="" name="location" [(ngModel)]="model.location">
                </div>
                <div class="col-12">
                    <label for="startDate" class="form-label">Initial time</label>
                    <input type="datetime-local" class="form-control" id="startDate" [(ngModel)]="model.startDate"  required="" name="startDate">
                </div>
                <div class="col-12">
                    <label for="endDate" class="form-label">End time</label>
                    <input type="datetime-local" class="form-control" id="endDate"[(ngModel)]="model.endDate" required="" name="endDate" >
                </div>

              </div> 
              <hr class=" mt-4">  
              <button class="w-100 btn btn-primary btn-lg" type="submit">Add Event</button>
            </form>
          </div>
        </div>
      </main>

    </div>
    </body>












    